<a href="https://colab.research.google.com/github/dfridland/NLP/blob/HW1/NLP_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Let's preproces data from Twitter to clean the data we will use later for the classificiation. 
# The dataset had negative(labvel=1) and neutral(lebel=0) comments. 
# we will combine train_df and test_df in one dataset.

# 1. remove @user from all tweets usong pattern '@[\w]*' by creating function:
#    - to find every pattern in texst we will use re.findall(pattern, input_txt)
#    - to replace @user with empty string, we will use re.sub()

# 2. Use lower register for all tweets with .lower()

# 3. replace apostrophes (for ex "ain't") with empty string using apostrophe_dict. 
#    Creating fucntion: for each word check (for word in text.split()) 
#    if this word is in dictionary (apostrophe_dict)as a key, than change key on it's value.

# 4. Replace punctuation with empty string, using re.sub(), and pattern r'[^\w\s]'.

# 5. Replace abbreviations on its full form using shot_word_dict. Using the same function as above(3.).

# 6. Replace emoticons with empty string using emoticon_dict. Using the same function as above(3.)

# 7. Replace special symbols with empty string  using re.sub() and pattern r'[^a-z-Z0-9]'

# 8. Replace numeral values with empty string using re.sub() and pattern r'[^a-z-A-Z]'

# 9. Remove one-character words using ''.join([w for w in x.split() if len(w)>1])

# 10.Tokenize tweets using nltk.tokenixe.word_tokenize creating new column 'tweet_token'

# 11.Remove stop-words from tokens using nltk.corpus.stopwords. 
#    Create column 'tweet_token_filtered' without stop-words.

# 12. Apply stemming(process of finding the root of words) to tokens using nltk.stem.PorterStemmer. 
#     Create olumn ' tweet_stemmed'
# 13. Apply lemmatization (process of finding the form of the related word in the dictionary) to tokens 
#     using nltk.stem.wordnet.WordNetLemmatizer 
#     Create column "tweet_lemmatized"

# 14. Save the preprocessing steps in the end model in the pickle-file.

Let's preproces data from Twitter to clean the data we will use later for the classificiation. 
The dataset had negative(labvel=1) and neutral(lebel=0) comments. 
we will combine train_df and test_df in one dataset.

1. remove @user from all tweets usong pattern '@[\w]*' by creating function:
   - to find every pattern in texst we will use re.findall(pattern, input_txt)
   - to change @user to blank, we will use re.sub()

2. Use lower register for all tweets with .lower()

3. Change words with apostrophes (for ex "ain't") to blank using apostrophe_dict. 
   Creating fucntion: for each word check (for word in text.split()) 
   if this word is in dictionary (apostrophe_dict)as a key, than change key on it's value.

4. Change abbreviations on its full form using shot_word_dict. Using the same function as above(3.).

5. Change emoticons to blank using emoticon_dict. Using the same function as above(3.)

6. Change punctuation to blank, using re.sub(), and pattern r'[^\w\s]'.

7. Change special symbols to blank  using re.sub() and pattern r'[^a-z-Z0-9]'

8. Change numeral values to blank using re.sub() and pattern r'[^a-z-A-Z]'

9. Remove one-character words using ''.join([w for w in x.split() if len(w)>1])

10.Tokenize tweets using nltk.tokenixe.word_tokenize creating new column 'tweet_token'

11.Remove stop-words from tokens using nltk.corpus.stopwords. 
   Create column 'tweet_token_filtered' without stop-words.

12. Apply stemming(process of finding the root of words) to tokens using nltk.stem.PorterStemmer. 
    Create olumn ' tweet_stemmed'
13. Apply lemmatization (process of finding the form of the related word in the dictionary) to tokens 
    using nltk.stem.wordnet.WordNetLemmatizer 
    Create column "tweet_lemmatized"

14. Save the preprocessing steps in the end model in the pickle-file.

In [2]:
apostrophe_dict = {
"ain't": "am not / are not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is",
"i'd": "I had / I would",
"i'd've": "I would have",
"i'll": "I shall / I will",
"i'll've": "I shall have / I will have",
"i'm": "I am",
"i've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}



short_word_dict = {
"121": "one to one",
"a/s/l": "age, sex, location",
"adn": "any day now",
"afaik": "as far as I know",
"afk": "away from keyboard",
"aight": "alright",
"alol": "actually laughing out loud",
"b4": "before",
"b4n": "bye for now",
"bak": "back at the keyboard",
"bf": "boyfriend",
"bff": "best friends forever",
"bfn": "bye for now",
"bg": "big grin",
"bta": "but then again",
"btw": "by the way",
"cid": "crying in disgrace",
"cnp": "continued in my next post",
"cp": "chat post",
"cu": "see you",
"cul": "see you later",
"cul8r": "see you later",
"cya": "bye",
"cyo": "see you online",
"dbau": "doing business as usual",
"fud": "fear, uncertainty, and doubt",
"fwiw": "for what it's worth",
"fyi": "for your information",
"g": "grin",
"g2g": "got to go",
"ga": "go ahead",
"gal": "get a life",
"gf": "girlfriend",
"gfn": "gone for now",
"gmbo": "giggling my butt off",
"gmta": "great minds think alike",
"h8": "hate",
"hagn": "have a good night",
"hdop": "help delete online predators",
"hhis": "hanging head in shame",
"iac": "in any case",
"ianal": "I am not a lawyer",
"ic": "I see",
"idk": "I don't know",
"imao": "in my arrogant opinion",
"imnsho": "in my not so humble opinion",
"imo": "in my opinion",
"iow": "in other words",
"ipn": "I’m posting naked",
"irl": "in real life",
"jk": "just kidding",
"l8r": "later",
"ld": "later, dude",
"ldr": "long distance relationship",
"llta": "lots and lots of thunderous applause",
"lmao": "laugh my ass off",
"lmirl": "let's meet in real life",
"lol": "laugh out loud",
"ltr": "longterm relationship",
"lulab": "love you like a brother",
"lulas": "love you like a sister",
"luv": "love",
"m/f": "male or female",
"m8": "mate",
"milf": "mother I would like to fuck",
"oll": "online love",
"omg": "oh my god",
"otoh": "on the other hand",
"pir": "parent in room",
"ppl": "people",
"r": "are",
"rofl": "roll on the floor laughing",
"rpg": "role playing games",
"ru": "are you",
"shid": "slaps head in disgust",
"somy": "sick of me yet",
"sot": "short of time",
"thanx": "thanks",
"thx": "thanks",
"ttyl": "talk to you later",
"u": "you",
"ur": "you are",
"uw": "you’re welcome",
"wb": "welcome back",
"wfm": "works for me",
"wibni": "wouldn't it be nice if",
"wtf": "what the fuck",
"wtg": "way to go",
"wtgp": "want to go private",
"ym": "young man",
"gr8": "great"
}


emoticon_dict = {
":)": "happy",
":‑)": "happy",
":-]": "happy",
":-3": "happy",
":->": "happy",
"8-)": "happy",
":-}": "happy",
":o)": "happy",
":c)": "happy",
":^)": "happy",
"=]": "happy",
"=)": "happy",
"<3": "happy",
":-(": "sad",
":(": "sad",
":c": "sad",
":<": "sad",
":[": "sad",
">:[": "sad",
":{": "sad",
">:(": "sad",
":-c": "sad",
":-< ": "sad",
":-[": "sad",
":-||": "sad"
}

In [3]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
import os

In [4]:
train_df = pd.read_csv('train_tweets.csv')
train_df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [5]:
test_df = pd.read_csv('test_tweets.csv')
test_df.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [6]:
combine_df = train_df.append(test_df, ignore_index=True, sort=False)

<ipython-input-6-bd33cfd1442f>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combine_df = train_df.append(test_df, ignore_index=True, sort=False)

In [7]:
combine_df.head()

   id  label                                              tweet
0   1    0.0   @user when a father is dysfunctional and is s...
1   2    0.0  @user @user thanks for #lyft credit i can't us...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

In [8]:
combine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49159 entries, 0 to 49158
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      49159 non-null  int64
 1   label   31962 non-null  float64
 2   tweet   49159 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB

In [9]:
# 1. remove @user from all tweets usong pattern '@[\w]*' by creating function:
#    - to find every pattern in texst we will use re.findall(pattern, input_txt)
#    - to change @user to blank, we will use re.sub()

def remove_word_user(input_txt):
    pattern = "@[\w]*"
    lst = re.findall(pattern, input_txt)
    result = input_txt
    for el in lst:
        result = re.sub(el, ' ', result)
    return result

combine_df.tweet[1]

"@user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked"

In [10]:
remove_word_user(combine_df.tweet[1])

"    thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked"

In [11]:
combine_df['tweet'] = np.vectorize(remove_word_user)(combine_df['tweet'])

combine_df.head()

   id  label                                              tweet
0   1    0.0     when a father is dysfunctional and is so se...
1   2    0.0      thanks for #lyft credit i can't use cause ...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

In [12]:
# 2. Use lower register for all tweets with .lower()

combine_df['tweet'] = combine_df['tweet'].apply(lambda x: x.lower())
combine_df.head()

   id  label                                              tweet
0   1    0.0     when a father is dysfunctional and is so se...
1   2    0.0      thanks for #lyft credit i can't use cause ...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

In [13]:
# 3. replace apostrophes (for ex "ain't") with empty string using apostrophe_dict. 
#    Creating fucntion: for each word check (for word in text.split()) 
#    if this word is in dictionary (apostrophe_dict)as a key, than change key on it's value.

def replace_by_dict(input_text,my_dict):
    list_of_words = []    
    for word in input_text.split():
        list_of_words.append(my_dict.get(word, word))
    return " ".join(list_of_words)


combine_df['tweet'][7]

"the next school year is the year for exams.ð\x9f\x98¯ can't think about that ð\x9f\x98\xad #school #exams   #hate #imagine #actorslife #revolutionschool #girl"

In [14]:
replace_by_dict(combine_df['tweet'][7], apostrophe_dict)
combine_df['tweet'] = combine_df['tweet'].apply(lambda x: replace_by_dict(x, apostrophe_dict))
combine_df['tweet'][7]

'the next school year is the year for exams.ð\x9f\x98¯ cannot think about that ð\x9f\x98\xad #school #exams #hate #imagine #actorslife #revolutionschool #girl'

In [15]:
# 4. Replace punctuation with empty string, using re.sub(), and pattern r'[^\w\s]'.

combine_df['tweet'] = combine_df['tweet'].apply(lambda x: re.sub(r'[^\w\s]', ' ', x))
combine_df.tail()

          id  label                                              tweet
49154  49155    NaN  thought factory  left right polarisation   tru...
49155  49156    NaN  feeling like a mermaid ð     hairflip  neverre...
49156  49157    NaN   hillary  campaigned today in  ohio  omg    am...
49157  49158    NaN  happy  at work conference  right mindset leads...
49158  49159    NaN  my song  so glad  free download   shoegaze  ne...

In [16]:
# 5. Replace abbreviations on its full form using shot_word_dict. Using the same function as above(3.)

combine_df['tweet'] = combine_df['tweet'].apply(lambda x: replace_by_dict(x, short_word_dict))
combine_df.tail()

          id  label                                              tweet
49154  49155    NaN  thought factory left right polarisation trump ...
49155  49156    NaN  feeling like a mermaid ð hairflip neverready f...
49156  49157    NaN  hillary campaigned today in ohio oh my god amp...
49157  49158    NaN  happy at work conference right mindset leads t...
49158  49159    NaN  my song so glad free download shoegaze newmusi...

In [17]:
# 6. Replace emoticons with empty string using emoticon_dict. Using the same function as above(3.)

combine_df['tweet'] = combine_df['tweet'].apply(lambda x: replace_by_dict(x, emoticon_dict))
combine_df.head()

   id  label                                              tweet
0   1    0.0  when a father is dysfunctional and is so selfi...
1   2    0.0  thanks for lyft credit i cannot use cause they...
2   3    0.0                                bihday your majesty
3   4    0.0  model i love you take with you all the time in...
4   5    0.0                  factsguide society now motivation

In [18]:
# 7. Replace special symbols with empty string  using re.sub() and pattern r'[^a-z-Z0-9]'

combine_df['tweet'] = combine_df['tweet'].apply(lambda x : re.sub(r'[^a-zA-Z0-9]', ' ', x))

combine_df.head()

   id  label                                              tweet
0   1    0.0  when a father is dysfunctional and is so selfi...
1   2    0.0  thanks for lyft credit i cannot use cause they...
2   3    0.0                                bihday your majesty
3   4    0.0  model i love you take with you all the time in...
4   5    0.0                  factsguide society now motivation

In [19]:
# 8. Replace numeral values with empty string using re.sub() and pattern r'[^a-z-A-Z]'
combine_df['tweet'][10]

'  ireland consumer price index mom climbed from previous 0 2 to 0 5 in may blog silver gold forex'

In [20]:
combine_df['tweet'] = combine_df['tweet'].apply(lambda x : re.sub(r'[^a-zA-Z]', ' ', x))

combine_df['tweet'][10]

'  ireland consumer price index mom climbed from previous     to     in may blog silver gold forex'

In [23]:
# 9. Remove one-character words using ''.join([w for w in x.split() if len(w)>1])
combine_df['tweet'] = combine_df['tweet'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>1]))
combine_df.head()

   id  label                                              tweet
0   1    0.0  when father is dysfunctional and is so selfish...
1   2    0.0  thanks for lyft credit cannot use cause they d...
2   3    0.0                                bihday your majesty
3   4    0.0    model love you take with you all the time in ur
4   5    0.0                  factsguide society now motivation

In [24]:
# 10.Tokenize tweets using nltk.tokenixe.word_tokenize creating new column 'tweet_token'

nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [25]:
from nltk.tokenize import word_tokenize
combine_df['tweet_token'] = combine_df['tweet'].apply(lambda x: word_tokenize(x))
combine_df.head()

,id,label,tweet,tweet_token
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]"
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ..."
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]"

In [26]:
# 11.Remove stop-words from tokens using nltk.corpus.stopwords. 
#    Create column 'tweet_token_filtered' without stop-words.

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [28]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

combine_df['tweet_token_filtered'] = combine_df['tweet_token'].apply(lambda x: [word for word in x if not word in stop_words])
combine_df.head()

,id,label,tweet,tweet_token,tweet_token_filtered
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]"
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]"

In [29]:
# 12. Apply stemming(process of finding the root of words) to tokens using nltk.stem.PorterStemmer. 
#     Create olumn ' tweet_stemmed'
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()

combine_df['tweet_stemmed'] = combine_df['tweet_token_filtered'].apply(lambda x: [stemmer.stem(word) for word in x])
combine_df.head()

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]"
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]","[model, love, take, time, ur]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]"

In [31]:
# 13. Apply lemmatization (process of finding the form of the related word in the dictionary) to tokens 
#     using nltk.stem.wordnet.WordNetLemmatizer 
#     Create column "tweet_lemmatized"
from nltk.stem import WordNetLemmatizer

nltk.download('omw-1.4')
nltk.download('wordnet')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [33]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [37]:
lemmatizer = WordNetLemmatizer()
combine_df['tweet_lemmatized'] = combine_df['tweet_token_filtered'].apply(lambda x: [lemmatizer.lemmatize(word, nltk.corpus.wordnet.VERB)
 for word in x])
combine_df.head()

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunctional, selfish, drag, kid, dy..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thank, lyft, credit, use, cause, offer, wheel..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]","[bihday, majesty]"
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]","[model, love, take, time, ur]","[model, love, take, time, ur]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]","[factsguide, society, motivation]"

In [ ]:
# 14. Save the preprocessing steps in the end model in the pickle-file.

In [38]:
coding: 'utf-8'
combine_df.to_pickle("./result.pkl")

In [39]:
df = pd.read_pickle("result.pkl")
df.info

<bound method DataFrame.info of           id  label                                              tweet  \
0          1    0.0  when father is dysfunctional and is so selfish...
1          2    0.0  thanks for lyft credit cannot use cause they d...
2          3    0.0                                bihday your majesty
3          4    0.0    model love you take with you all the time in ur
4          5    0.0                  factsguide society now motivation
...      ...    ...                                                ...
49154  49155    NaN  thought factory left right polarisation trump ...
49155  49156    NaN  feeling like mermaid hairflip neverready forma...
49156  49157    NaN  hillary campaigned today in ohio oh my god amp...
49157  49158    NaN  happy at work conference right mindset leads t...
49158  49159    NaN  my song so glad free download shoegaze newmusi...

                                             tweet_token  \
0      [when, father, is, dysfunctional, and, is, so,...
1      [thanks, for, lyft, credit, can, not, use, cau...
2                                [bihday, your, majesty]
3      [model, love, you, take, with, you, all, the, ...
4                 [factsguide, society, now, motivation]
...                                                  ...
49154  [thought, factory, left, right, polarisation, ...
49155  [feeling, like, mermaid, hairflip, neverready,...
49156  [hillary, campaigned, today, in, ohio, oh, my,...
49157  [happy, at, work, conference, right, mindset, ...
49158  [my, song, so, glad, free, download, shoegaze,...

                                    tweet_token_filtered  \
0      [father, dysfunctional, selfish, drags, kids, ...
1      [thanks, lyft, credit, use, cause, offer, whee...
2                                      [bihday, majesty]
3                          [model, love, take, time, ur]
4                      [factsguide, society, motivation]
...                                                  ...
49154  [thought, factory, left, right, polarisation, ...
49155  [feeling, like, mermaid, hairflip, neverready,...
49156  [hillary, campaigned, today, ohio, oh, god, am...
49157  [happy, work, conference, right, mindset, lead...
49158  [song, glad, free, download, shoegaze, newmusi...

                                           tweet_stemmed  \
0      [father, dysfunct, selfish, drag, kid, dysfunc...
1      [thank, lyft, credit, use, caus, offer, wheelc...
2                                      [bihday, majesti]
3                          [model, love, take, time, ur]
4                            [factsguid, societi, motiv]
...                                                  ...
49154  [thought, factori, left, right, polaris, trump...
49155  [feel, like, mermaid, hairflip, neverreadi, fo...
49156  [hillari, campaign, today, ohio, oh, god, amp,...
49157  [happi, work, confer, right, mindset, lead, cu...
49158  [song, glad, free, download, shoegaz, newmus, ...

                                        tweet_lemmatized
0      [father, dysfunctional, selfish, drag, kid, dy...
1      [thank, lyft, credit, use, cause, offer, wheel...
2                                      [bihday, majesty]
3                          [model, love, take, time, ur]
4                      [factsguide, society, motivation]
...                                                  ...
49154  [think, factory, leave, right, polarisation, t...
49155  [feel, like, mermaid, hairflip, neverready, fo...
49156  [hillary, campaign, today, ohio, oh, god, amp,...
49157  [happy, work, conference, right, mindset, lead...
49158  [song, glad, free, download, shoegaze, newmusi...

[49159 rows x 7 columns]>